$purple_primary: #8e2d70;
$green_primary: #127e8a;
$teal_primary: #06b7b1;
$blue_primary: #008bc2;
$red_primary: #8d1c38;
$violet_primary: #532e8e;


$purple_secondary: #9f3e81;
$green_secondary: #2e959e;
$teal_secondary: #16bbb5;
$blue_secondary: #279dcd;
$red_secondary: #a64a61;
$violet_secondary: #593398;